*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 1.6rem
}
body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
}
main img{
    padding: 0.5rem;
    width: 30%;
    border: none;
}
h1{
    color: #FFFFFF;
     padding: 0 1.5rem;
     font-size: 1.6rem;
}
.email, senha{
    display:flex ;
    flex-direction: column;
}
input{
    background-color: #333;;
   width: 90%;
   padding: 1rem;
   display: block;
   margin: 1.0rem auto;
   height: 2.0rem;
   border: none;
   border-radius:0.4rem ;
}

button{
    background: #e50914;
    color: #FFFFFF;
    width: 90%;
    height: 2.0rem;
    border: none;
    display: block;
    margin: 1.0rem auto;
    font-weight: 700;
    font-size: 0.7rem;
    cursor: pointer;
}


div.d-flex input{
    display: none;
   }

div.d-flex label{
 margin: 0;
 display: flex;
 align-items: center;
 gap: 0.5rem;
 font-size: 0.5rem;
 color: #FFFFFF;
 cursor: pointer;
}


div.d-flex label::before{
    content: "";
    width: 1rem;
    height: 1rem;
    display: block;

    background-color: #333;
    border-radius: 0.2rem;
    margin-left: 0.7rem; 
   }

   div.d-flex input:checked + label::before{
    background-image: url(./imagens/Vector.svg);
    background-position: center;
    background-repeat: no-repeat;
   }

   a{
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
   }
   
   span{
    margin: 0 auto;
    text-align: center;
    margin-left: 3rem;
   }

   p{
    color:rgb(94, 91, 91);

    margin-left:0.2rem;
   }

   #sign-it{
    display:flex ;
    font-size: 0.8rem;

    margin: 1rem 0.5rem;
   }
  #protected{
    font-size: 0.5rem;
    margin-left: 0.7rem;
  }
   
  #saiba{
    color: blue;
  }
  footer{
    border: 1px solid #333;
    height: 0;
    color: rgb(79, 78, 78);
    margin-top: 4rem;
  }

  h3{
    margin-top: 1rem;
    padding: 1rem;
    font-size: 0.7rem;
  }

  h3 a {
    color: rgb(79, 78, 78);
  }
  li{
    margin-bottom: 0.6rem
  }
  ul li {
    font-size: 0.5rem;
    margin-left: 1rem;
     list-style: none;
  }

  .alternative{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  nav ul li a{
    color: rgb(75, 72, 72);
  }
  nav{
    display: flex;
    justify-content: space-around;
  }

  a:hover{  
    height: 0;
    border-bottom: 2px solid rgb(95, 92, 92);
  }
@media (min-width: 40em){
   body{
    background-image: url(./imagens/BR-pt-20220815-popsignuptwoweeks-perspective_alpha_website_large.jpg);
   }
  
   form{
    width: 50%;
    height: 30rem;
    background-color: black;
    margin: 0 auto;
   background: rgba(0, 0, 0, 0.8);
   }
   
   h1{
    padding-top: 2rem;
    margin: 0 1rem;

   }
   h3{
    margin-left: 6.5rem;
   }
   input, button{
    width: 70%;
   }
   #centro{
    padding-bottom: 3rem;
   }
   .email{
    margin-bottom: 1rem;
   }
   
   .d-flex{
    margin-left: 2rem;
   }

   #sing-it, p{
    margin-left: 2rem;
   }
   #protected{
    margin-left: 2.5rem;
   }
   main img{
    padding: 1rem;
    width: 250px;
   }

   footer{
    border: none;
    height: 10rem;
    background-color: black;
    color: rgb(106, 103, 103);
    background: rgba(0, 0, 0, 0.9);
    padding: 0.5rem;
   }

    
}

@media (min-width: 60em){
    form{
        width: 450px;
        height: 30rem;
        background-color: black;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.8);
       }
    .d-flex{
        margin-left: 50px;
        color:#FFFFFF;
       }
    
       #sing-it, p{
        margin-left: 2rem;
       }
       #protected{
        margin-left: 2.5rem;
       }
       main img{
        padding: 1rem;
        width: 250px;
       } 
}